Repository helium/maker-starter-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi, @119Vik

feat: record params in screen tracking
  src/App.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: track add gateway and assert location
  src/features/hotspots/setup/HotspotTxnsProgressScreen.tsx
  src/features/hotspots/setup/HotspotTxnsSubmitScreen.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

refactor: rename segment event names
  src/features/hotspots/setup/HotspotSetupBluetoothSuccess.tsx
  src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx
  src/features/hotspots/setup/HotspotTxnsProgressScreen.tsx
  src/features/transferHotspot/TransferHotspot.tsx
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: track hotspot transfer
  src/features/transferHotspot/TransferHotspot.tsx
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

doc: update Readme how to make signed Android bundle on MacOS
  README.md
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: set debug false in segment
  src/App.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: track wifi connection
  src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: set segment identity with helium account ID
  src/App.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: remove WiFi SSID in track call
  src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: remove duplicated segment identify call
  src/features/hotspots/root/HotspotsScreen.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

refactor: rename hotspot transfer event and properties
  src/features/transferHotspot/TransferHotspot.tsx
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: differentiate the update antenna only segment track from assert location track
  src/features/hotspots/setup/HotspotTxnsProgressScreen.tsx
  src/features/hotspots/setup/HotspotTxnsSubmitScreen.tsx
  src/store/hotspots/hotspotOnboardingSlice.ts
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: track wifi scan
  src/features/hotspots/setup/HotspotSetupPickWifiScreen.tsx
  src/utils/analytics/events.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

ci(quality validation): add basic github action with cache for node_modules
  .github/workflows/main.yaml
  .lintstagedrc.json
  package.json
Owners: @119Vik, @IgoninVV, @serhiislobodian, @ivan-freedomfi

chore(eslint): update disabled rules from off to warn status
  eslint/.eslintrc.addon.typescript.json
  src/.eslintrc.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

chore(eslint): update configs, update dependencies
  .eslintignore
  .eslintrc.json
  eslint/.eslintrc.addon.jest.json
  eslint/.eslintrc.addon.react-native.json
  eslint/.eslintrc.addon.typescript.json
  eslint/.eslintrc.base.json
  package.json
  yarn.lock
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

chore(eslint): udpate configs, temporary disable rules that don't pass, leave todos
  .eslintrc.json
  eslint/.eslintrc.addon.typescript.json
  eslint/.eslintrc.base.json
  jest.config.js
  jest.setup.js
  package.json
  src/.eslintrc.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

chore(tsconfig): udpate rules
  package.json
  tsconfig.json
  yarn.lock
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

Dashboard link card added
  src/assets/images/goto.png
  src/assets/images/goto@1x.png
  src/assets/images/goto@2x.png
  src/assets/images/goto@3x.png
  src/features/hotspots/root/WelcomeOverview.tsx
  src/locales/en.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

chore(configs): udpate configs with the external settings library usage
  .commitlintrc.json
  .eslintrc.js
  .eslintrc.json
  .github/workflows/main.yaml
  .lintstagedrc.json
  .npmpackagejsonlintrc.json
  babel.config.js
  commitlint.config.js
  eslint/.eslintrc.addon.jest.json
  eslint/.eslintrc.addon.react-native.json
  eslint/.eslintrc.addon.typescript.json
  eslint/.eslintrc.base.json
  ios/Podfile.lock
  lint-staged.config.js
  npmpackagejsonlint.config.js
  package.json
  tsconfig.json
  yarn.lock
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi, @119Vik

chore(src): update regarding udpated rules
  package.json
  src/.eslintrc.json
  src/__tests__/Example.test.tsx
  src/components/ActivityIndicator.tsx
  src/components/Button.tsx
  src/components/HeliumActionSheet.tsx
  src/components/Map.tsx
  src/components/PinDisplay.tsx
  src/components/TextInput.tsx
  src/components/TextTransform.tsx
  src/components/TouchableCircle.tsx
  src/components/WithDebounce.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

utm values added
  src/features/hotspots/root/WelcomeOverview.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

feat: use private Helium API URL
  .env.sample
  src/App.tsx
  src/utils/appDataClient.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

Build version updated
  ios/Nebra.xcodeproj/project.pbxproj
  package.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

package build version updated
  ios/Nebra.xcodeproj/project.pbxproj
  package.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

docs: store screenshot instructions
  README.md
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

doc: how to skip Helium Wallet handshake
  README.md
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

display notification that Helium App must be installed from official App Store
  src/features/onboarding/LinkAccount.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

update notification message saying Helium App must be installed from official store
  src/features/onboarding/LinkAccount.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

allow hotspot not found exception while onboarding
  src/features/hotspots/setup/HotspotSetupConfirmLocationScreen.tsx
  src/features/hotspots/setup/HotspotSetupPickLocationScreen.tsx
  src/features/hotspots/setup/HotspotSetupPickWifiScreen.tsx
  src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: add exception handling when getting hotspot details on set location page
  src/features/hotspots/setup/HotspotSetupPickLocationScreen.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: add exception handling when getting hotspot details of un-onboarded hotspot
  src/features/hotspots/setup/HotspotSetupBluetoothSuccess.tsx
  src/features/hotspots/setup/HotspotSetupPickWifiScreen.tsx
  src/features/hotspots/setup/HotspotSetupWifiConnectingScreen.tsx
  src/features/hotspots/setup/HotspotTxnsProgressScreen.tsx
  src/features/hotspots/setup/HotspotTxnsSubmitScreen.tsx
  src/store/hotspots/hotspotOnboardingSlice.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

fix: add exception handling when getting hotspot details on onboarding confirmation page
  src/features/hotspots/setup/HotspotSetupConfirmLocationScreen.tsx
  src/features/hotspots/setup/HotspotTxnsProgressScreen.tsx
  src/features/hotspots/setup/hotspotSetupTypes.tsx
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

handle http 404(not found) error differently from the other exceptions
  src/utils/appDataClient.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

remove unsupported language options
  src/utils/i18n/i18nTypes.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

release: v1.0.3
  README.md
  package.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

ios version updated to 1.0.3
  ios/Nebra.xcodeproj/project.pbxproj
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

Updating app version and build added to readme
  README.md
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

Updating app version and build added to readme
  package.json
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

connectivity issue message added
  src/features/hotspots/root/WelcomeOverview.tsx
  src/locales/en.ts
  src/store/hotspots/hotspotsSlice.ts
Owners: @IgoninVV, @serhiislobodian, @ivan-freedomfi

.github/CODEOWNERS:

# CODEOWNERS file for auto-assigning reviews in GitHub

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax

# Order is important; for each modified file, the last matching
# pattern takes the most precedence.
# That is, with the last pattern being

* @IgoninVV @serhiislobodian @ivan-freedomfi

Jenkinsfile @119Vik @IgoninVV @serhiislobodian @ivan-freedomfi
Dockerfile @119Vik @IgoninVV @serhiislobodian @ivan-freedomfi
*.yml @119Vik @IgoninVV @serhiislobodian @ivan-freedomfi
*.yaml @119Vik @IgoninVV @serhiislobodian @ivan-freedomfi
